<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="opencarttest">
	<listeners>
		<listener class-name="com.opencart.utilities.Reporting" />
	</listeners>
	<test name="Open cart Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!--<class name="com.opencart.tests.HomeTest" />-->
			<class name="com.opencart.tests.LoginTest_DDT" />
		</classes>
	</test>
</suite>
